<div class="input-group input-group-{{size}}">
  <span class="input-group-addon">{{addon}}</span>
  <input type="{{type}}" class="form-control" id="{{id}}" aria-describedby="{{id}}" placeholder="{{placeholder}}">
  <span class="input-group-addon">{{addon2}}</span>
</div>