<div class="input-group input-group-{{size}}">
  <span class="input-group-addon">
    <input type="{{type-addon}}" aria-label="{{aria-label}}">
  </span>
  <input type="{{type}}" class="form-control" aria-label="{{aria-label}}" id="{{id}}" aria-describedby="{{id}}" placeholder="{{placeholder}}">
</div><!-- /input-group -->