<div class="progress">
    <div style="width: {{porcentagem}}%" aria-valuemax="{{max}}" aria-valuemin="{{min}}" aria-valuenow="{{porcentagem}}" role="progressbar" class="progress-bar progress-bar-{{status}}">
        <span class="sr-only">{{porcentagem}}% Complete (success)</span>
    </div>
</div>