<div class="carousel-multiple-items {{#if custom-css}}{{custom-css}}{{/if}}"
  {{#if theme}}data-theme="{{theme}}"{{/if}}
  {{#if items}}data-items="{{items}}"{{/if}}
  {{#if width}}data-width="{{width}}"{{/if}}
  {{#if margin}}data-margin="{{margin}}"{{/if}}
  {{#if loop}}data-loop="{{loop}}"{{/if}}
  {{#if responsive}}data-responsive="{{responsive}}"{{/if}}
  {{#if nav}}data-nav="{{nav}}"{{/if}}
  {{#if nav-text}}data-nav-text="{{nav-text}}"{{/if}}
  {{#if dots}}data-dots="{{dots}}"{{/if}}
>
  {{#if content}}
    {{{content}}}
  {{else}}
    <div class="item"{{#if zoom-item}} data-zoom-image="https://dummyimage.com/600x600/696969/fff.png&text=Banner+(600+x+600)"{{/if}}><img src="https://dummyimage.com/600x600/696969/fff.png&text=Banner+(600+x+600)" alt=""></div>
    <div class="item"{{#if zoom-item}} data-zoom-image="https://dummyimage.com/600x600/696969/fff.png&text=Banner+(600+x+600)"{{/if}}><img src="https://dummyimage.com/600x600/696969/fff.png&text=Banner+(600+x+600)" alt=""></div>
    <div class="item"{{#if zoom-item}} data-zoom-image="https://dummyimage.com/600x600/696969/fff.png&text=Banner+(600+x+600)"{{/if}}><img src="https://dummyimage.com/600x600/696969/fff.png&text=Banner+(600+x+600)" alt=""></div>
    <div class="item"{{#if zoom-item}} data-zoom-image="https://dummyimage.com/600x600/696969/fff.png&text=Banner+(600+x+600)"{{/if}}><img src="https://dummyimage.com/600x600/696969/fff.png&text=Banner+(600+x+600)" alt=""></div>
    <div class="item"{{#if zoom-item}} data-zoom-image="https://dummyimage.com/600x600/696969/fff.png&text=Banner+(600+x+600)"{{/if}}><img src="https://dummyimage.com/600x600/696969/fff.png&text=Banner+(600+x+600)" alt=""></div>
    <div class="item"{{#if zoom-item}} data-zoom-image="https://dummyimage.com/600x600/696969/fff.png&text=Banner+(600+x+600)"{{/if}}><img src="https://dummyimage.com/600x600/696969/fff.png&text=Banner+(600+x+600)" alt=""></div>
  {{/if}}
</div>
