<div class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{id}}">{{title}}</a>
        </h5>
    </div>
    <div id="{{id}}" class="panel-collapse collapse {{active}}">
        <div class="panel-body">
            {{content}}
        </div>
    </div>
</div>