<div class="box-product" itemscope itemtype="http://schema.org/Product">	

	<div class="box-product-title">
		<h2 itemprop="name">{{title}}</h2>
	</div>

	<p class="box-product-description" itemprop="description">
		{{description}}
	</p>

	<figure class="box-product-figure">
		<img src="images/product-icon.png" alt="{{title}}" class="img-responsive" itemprop="image">
	</figure>

	<div class="box-product-prices" itemprop="offers">
		<span class="old-price">{{old-price}}</span>
		<span class="new-price" itemprop="price">{{new-price}}</span>
		<span class="parcel-price">9x de R$ 120,00 sem juros</span>
	</div>

	<div class="box-product-form">
		<form>
			{{> atom-bs-btn-button btn='success' type='button' value='Comprar'}}			
			{{> atom-bs-btn-button btn='info' type='button' value='Carrinho'}}
		</form>
	</div>
</div>